# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios do Node.js
node_modules/
dist/

# Diretórios do .NET
bin/
obj/
out/

# Arquivos temporários e de sistema
*.tmp
*.swp
*.DS_Store
Thumbs.db

# Configurações locais do Visual Studio/VSCode
.vscode/
*.user
*.suo
*.plist

# Docker
docker-compose.override.yml
.env
.env.*

# Arquivos de build
*.dll
*.pdb
*.exe

# Testes
coverage/
*.testresults

# Outros
*.idea/
*.cache
*.vs/
